# Backend
backend/target/
backend/uploads/
backend/.idea/

# Frontend
frontend/node_modules/
frontend/dist/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Temp
doc_extract.txt
*.jpeg
*.png
!frontend/public/**
